project_id   = "YOUR_PROJECT_ID"
admin_cidr   = "YOUR_PUBLIC_IP/32"
region       = "us-central1"
node_locations = ["us-central1-a"]

# Set to 4 if you want 4x A100 GPUs (4 nodes x 1 GPU)
gpu_node_count = 2
